.webViewerContainer {
    display: flex;
    width: 100%;
    padding: 4%;
    justify-content: center;
    align-items: center;
    height: 750px;
}

model-viewer {
    height: 100%;
    width: 100%;
    outline: none;
    --poster-color: transparent;
}

model-viewer#reveal {
    height: 100%;
    width: 100%;
    --poster-color: transparent;
}
